.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

.github
.vscode
docs
scripts
src
styles
.eslintrc.js
.ls-lint.yml
.np-config.js
.prettierrc
CHANGELOG.md
readme.md
jest.config.js
tsconfig.json
vite.config.js
templates
bin
