.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

.github
vscode
docs
scripts
src
style
.eslintrc.js
.ls-lint.yml
.np-config.js
.prettierrc
CHANGELOG.md
jest.config.js
readme.md
tsconfig.json
vite.config.js

