|---
|map:
|    path: /components/#{component}
|---
|
|# #{UpperComponent}
|
|这里是#{UpperComponent}组件
|
|```js
|import { U#{UpperComponent} } from 'ungeui';
|```
|
|## 代码演示
|
|### 基本用法
|
|<demo src="./demo/base.vue"
|  language="vue"
|  title="基本用法"
|  desc="基本用法">
|</demo>
|
|## Props
|
|| 参数  |   说明   |   类型    |   默认值    |
|| :---: | :------: | :-------: | :---------: |

