|<template>
|    <div>
|         <u-#{component}>
|              this is #{component}
|         </u-#{component}>
|    </div>
|</template>
|
|<script setup>
|import { U#{UpperComponent} } from 'ungeui'
|</script>