|import { defineComponent } from 'vue';
|
|const #{component} = defineComponent({
|     name: '#{component}',
|     props: {
|
|     },
|     setup(props, { slots }) {
|         
|         return () =>  (
|             <div>
|                 #{component}
|             </div>
|         )
|     }
|        
|});
|
|export default #{component};
