|---
|map:
|    path: /components/#{component}
|---
|
|# #{UpperComponent}
|
|this is #{UpperComponent} component
|
|## Code demonstration
|
|```js
|import { U#{UpperComponent} } from 'ungeui';
|```
|
|### Basic useage
|
|<demo src="./demo/demo.vue"
|  language="vue"
|  title="Basic useage"
|  desc="Basic useage">
|</demo>
|
|## Props
|
|| Property | Description |   Type |   Default |
|| :--------: | :----------: | :-----: | :--------: |

