.u-badge
	position relative
	display inline-flex
	&-sup
		position absolute
		top 0
		right 0
		border-radius 999em
		transform translate(50%, -50%)
		color #fff
	&-round
		padding 0 8px
		font-size 12px
	&-dot
		height 8px
		width 8px