@import './global.styl'
@import './var.styl'

.u-badge
    position relative
    display inline-flex
    &-sup
        position absolute
        top 0
        right 0
        padding 0 8px
        border-radius 999em
        font-size 12px
        color #fff
        transform translate(50%, -50%)