@import './global.styl'
@import './var.styl'
	
.u-button
	// margin 0 10px
	border-width 1px
	border-style solid
	display inline-flex
	align-items center
	border-radius 3px
	cursor pointer
	width max-content
	transition all .3s
	user-select none
	&-size
		&-small
			padding 4px 8px
			font-size 14px
		&-medium
			padding 6px 10px
			font-size 16px
		&-large
			padding 8px 12px
			font-size 18px
		&-huge
			padding 10px 14px
			font-size 20px
	&-disabled
		cursor not-allowed
		opacity .5
	&-dashed
		border-style dashed
	&-round
		border-radius 999em
	&-icon
		&-small
			padding 4px 
		&-medium
			padding 6px
		&-large
			padding 8px
		&-huge
			padding 10px
	&-wave-default:not(.u-button-round)
		animation buttonWaveDefault .3s 1 !important

@keyframes buttonWaveDefault
	0%
		box-shadow 0 0 0.5px 0 $main-color
	100%
		box-shadow 0 0 0.5px 4.5px $main-color-easy

//浅色主题、深色主题、文字
for val in 'default' 'success' 'danger' 'warning' 'info'
	.u-button-{val}
		border-color $ + val + -border
		background-color $ + val + -bg
		color $ + val + -color
		&:hover
			color $ + val + -bg-easy
	.u-button-text.u-button-{val}
		background-color transparent
		border none
	.u-button-wave-{val}:not(.u-button-text):not(.u-button-round)
		animation buttonWave + val .3s 1

//动画以及
for val in  'success' 'danger' 'warning' 'info'
	.u-button-deep.u-button-{val}:not(.u-button-text)
		background-color $ + val + -color
		color #fff
		&:hover
			background-color $ + val + -bg-easy
		&:active
			background-color $ + val + -bg-deep
	@keyframes buttonWave{val}  //for default
		0%
			box-shadow 0 0 0.5px 0 $ + val + -bg-easy
		100%
			box-shadow 0 0 0.5px 4.5px $ + val + -bg


.u-button-default.u-button-deep
	background-color $main-color
	border-color $main-color
	color #fff
	&:active
		background-color $main-color-deep 

.u-button-default:not(.u-button-deep)
	&:hover
		color $main-color
		border-color $main-color

.u-button-prefix
	display inline-flex
	margin-left 4px

.u-button-suffix
	display inline-flex
	margin-right 4px