@import './global.styl'
@import './var.styl'

.u-dialog
	position fixed
	display flex
	justify-content center
	align-items center
	top 0
	z-index 200
	&-mask
		background-color rgba(0,0,0,.3)
		width 100vw
		height 100vh
		z-index 200
	&-core
		position fixed
		width 520px
		max-width 80vw
		z-index 300
		background-color: #fff
		border-radius 3px
		&-header
			height 60px
			width 100%
			display flex
			justify-content space-between
			align-items center
			border-bottom 1px solid #eee
			padding 0 30px
			&-icon
				cursor pointer
				display inline-flex
				align-content center
		&-body
			padding 30px
		&-footer
			height 60px
			width 100%
			border-top 1px solid #eee
			display flex
			justify-content end
			align-items center
			padding 0 15px

