@import './animate.min.css';
@import './icon.styl';
@import './global.styl';
@import './var.styl'
@import './tag.styl'
@import './avatar.styl'
@import './divider.styl'
@import './button.styl'
@import './input.styl'
@import './radio.styl'
@import './checkbox.styl'
@import './switch.styl'
@import './message.styl'
@import './dialog.styl'
@import './select.styl'
@import './table.styl'
@import './pagination.styl'
@import './slider.styl'
@import './inputNumber.styl'
@import './space.styl'
@import './tooltip.styl'
@import './badge.styl'
@import './loadingBar.styl'
@import './spin.styl'
