@import './global.styl'
@import './var.styl'
	
.u-input
	border 1px solid #ddd
	display inline-flex
	width 100%
	margin 10px 0
	border-radius 4px
	overflow hidden
	transition all .2s
	&-size
		&-small
			min-height 28px
			padding 0 10px
			font-size 14px
		&-medium
			min-height 34px
			padding 0 12px
			font-size 14px
		&-large
			min-height 40px
			padding 0 14px
			font-size 15px
	&-wrapper
		width 100%
		display inline-flex
		align-items center
	&-disabled
		opacity 0.5
		cursor not-allowed
		color #fff
		background-color: rgb(250,250,250)
		^[0]& input,^[0]& textarea
			cursor not-allowed
			background-color: rgb(250,250,250)
	&-input
		height  100%
		width 100%
	&-textarea
		height 100%
		width 100%
	&__textarea-el
		border none
		outline none
		resize none
		width 100%
		padding 10px
		font-family Arial
		vertical-align bottom
	&-prefix
		margin-right 4px
		display inline-flex
		align-items center
	&-suffix
		margin-left 4px
		display inline-flex
		align-items center
	&__input-el
		width 100%
		height 100%
		border none
		outline none
	&-focus
		box-shadow 0 0 1px 3px $main-color-easy
		border-color $main-color