.u-loading-bar
    width 100%
    position fixed
    top 0
    height 2px
    z-index 99
    // background-color red
    &-inner
        width 500px
        height 2px
        background-color $main-color