@import './global.styl'
@import './var.styl'
	
.u-message
	position relative
	position fixed
	display inline-flex
	align-items center
	left 50%
	transition: top .5s
	padding 10px 15px
	background-color #fff
	box-shadow: 0 0 8px #bbb
	border-radius 2px
	z-index 99

