@import './global.styl'
@import './var.styl'

.u-radio
	display inline-flex
	align-items center
	cursor pointer
	&-input
		width 0
		height 0
		border 0
		opacity 0
		margin 0
	&-disabled
		cursor not-allowed
		user-select none
		& ^[0]-dot
			border-color #ddd
			background-color rgb(245,245,245)
			&:hover
				border-color $gray
			&::before
				background-color #bbb
		& ^[0]-label
			color $text-disabled
	&-dot
		width 16px
		height 16px
		border 1px solid #ddd
		display inline-flex
		transition all .3s
		border-radius 50%
		position relative
		&::before
			content: ''
			position absolute
			width calc(100% - 6px)
			height calc(100% - 6px)
			top 3px
			left 3px
			border-radius 50%
			background-color $main-color
			transition all .3s
			opacity 0
		&:hover
			border-color $main-color
		&-checked
			border-color $main-color
			&::before
				opacity 1
	&-label
		display inline-flex
		padding 0 8px
	&-group
		display inline-flex
	&-button
		display inline-flex
		border 1px solid #ccc
		border-width 1px 0 1px 1px
		padding 6px 20px
		transition-duration .5s
		transition-property color,border-color 
		position relative
		&:first-child
			border-radius 4px 0 0 4px
		&:last-child
			border-right-width: 1px
			border-radius 0 4px 4px 0
		&:hover:not(&-disabled)
			cursor pointer
			color $main-color
			border-color $main-color
			& +  ^[1]
				border-left-color: $main-color
		&-checked:not(&-disabled)
			position static
			border-color $main-color
			box-shadow 0 0 0.5px 3px $main-color-easy
			color $main-color
			background-color #fff
			// color #fff
			& +  ^[1]
				border-left-color: $main-color
		&-disabled
			color #777
			background-color: #eee
			cursor not-allowed !important
		&-disabled&-checked
			background-color: #ccc