@import './global.styl'
@import './var.styl'

.u-select
	border 1px solid #ddd
	display inline-flex
	width 100%
	margin 10px 0
	border-radius 4px
	overflow hidden
	transition all .2s
	align-items center
	cursor pointer
	&-size
		&-small
			min-height 28px
			padding 0 4px 0 10px
			font-size 14px
		&-medium
			min-height 34px
			padding 0 5px 0 12px
			font-size 14px
		&-large
			min-height 40px
			padding 0 6px 0 14px
			font-size 15px
	&-text
		width 100%
		color #bbb
	&:hover 
		border 1px solid $main-color
	&-wrapper
		width 100%
		display flex
		max-height 260px
		overflow: auto
		background-color #fff
		box-shadow 0 5px 15px #ddd
		flex-wrap wrap
		position absolute
		z-index 99
		cursor pointer
		border-radius 3px

	&-option
		width 100%
		padding 6px 10px
		transition all .2s
		&:hover
			background-color #eee
			color $main-color
