@import './global.styl'
@import './var.styl'

.u-slider
	height 12px
	position relative
	display inline-flex
	width 100%
	align-items center
	&-bg
		height 4px
		width 100%
		position absolute
		background-color #ddd
	&-track
		position absolute
		width 100%
		height: 4px
		background-color $main-color
	&-point
		position absolute
		width 15px
		height 15px
		border-radius 50%
		background-color #fff
		border 2px solid $main-color
		cursor pointer
		&-1
			left 0
		&-2
			right 0

