@import './global.styl'
@import './var.styl'

.u-table
    width 100%
    display table
    &-head
        width 100%
        &-td
            &:first-child
                font-weight normal
    &-body
        width 100%
        &-td
            &:first-child
                font-weight normal