.u-tag 
    color $color
    display inline-flex
    padding 3px 10px

.u-tag-small 
    font-size 15px
    padding 2px 6px

.u-tag-medium
    font-size 16px
    padding 3px 8px

.u-tag-large
    font-size 17px
    padding 4px 12px

/* type生成器
for val in 'default' 'success' 'info' 'danger' 'warning'
    .u-tag-{val}
        color $ + val + -color
        border 1px solid $ + val + -border
        background-color: $ + val + -bg
*/
.u-tag-default {
	 color: $default-color;
	 border: 1px solid $default-border;
	 background-color: $default-bg;
}
.u-tag-success {
	 color: $success-color;
	 border: 1px solid $success-border;
	 background-color: $success-bg;
}
.u-tag-info {
	 color: $info-color;
	 border: 1px solid $info-border;
	 background-color: $info-bg;
}
.u-tag-danger {
	 color: $danger-color;
	 border: 1px solid $danger-border;
	 background-color: $danger-bg;
}
.u-tag-warning {
	 color: $warning-color;
	 border: 1px solid $warning-border;
	 background-color: $warning-bg;
}