@import './global.styl'
@import './var.styl'

$bgColor = rgba(0,0,0,.8)

.u-tooltip
	position absolute
	background-color $bgColor
	color #ddd
	border-radius 3px
	padding 4px
	z-index 99
	cursor pointer
	&::after
		content ''
		position absolute
		width 0
		height 0
	&-arrow
		&-left
			&::after
				right 0
				top 50%
				border-left solid $bgColor
				border-top transparent solid
				border-bottom transparent solid
				border-width 5px
				margin-top -5px
				margin-right -5px
		&-right
			&::after
				left 0
				top 50%
				border-right solid $bgColor
				border-top transparent solid
				border-bottom transparent solid
				border-width 5px
				margin-left -5px
				margin-top -5px
		&-top
			&::after
				bottom 0
				left 50%
				border-top solid $bgColor
				border-left transparent solid
				border-right transparent solid
				border-width 5px
				margin-left -5px
				margin-bottom -5px
		&-bottom
			&::after
				top 0
				left 50%
				border-bottom solid $bgColor
				border-left transparent solid
				border-right transparent solid
				border-width 5px
				margin-left -5px
				margin-top -5px

