@import './global.styl'
@import './var.styl'

.u-tree
	& > ul
		margin-top 0
		margin-bottom 0
	& > li 
		list-style none
	&-node
		&-switcher
			cursor pointer
			margin-right 5px
			&-close
				transform rotateZ(-90deg)
			&-hidden
				visibility hidden
		&-text 
			user-select none
	&-hidden
		display none
