$main-color-easy = #e6fffb
$main-color = #13c2c2
$main-color-deep = #006d75

$default-bg = #fff
$default-color = rgb(51, 54, 57)
$default-border = rgb(224, 224, 230)

$success-bg = rgba(24, 160, 88, 0.1)
$success-bg-easy = #36ad6a
$success-bg-deep = #0c7a43
$success-color = #18a058
$success-border = rgba(24, 160, 88, 0.3)

$warning-bg = rgba(240, 160, 32, 0.12)
$warning-bg-easy = #fcb040
$warning-bg-deep = #c97c10
$warning-color = #f0a020
$warning-border = rgba(240, 160, 32, 0.35)

$danger-bg = rgba(208, 48, 80, 0.08)
$danger-bg-easy = #de576d
$danger-bg-deep = #ab1f3f
$danger-color = #d03050
$danger-border = rgba(208, 48, 80, 0.23)

$info-bg = rgba(32, 128, 240, 0.1)
$info-bg-easy = #4098fc
$info-bg-deep = #1060c9
$info-color = #2080f0
$info-border = rgba(32, 128, 240, 0.3)

$gray = #cccccc
$text-disabled = rgba(194, 194, 194, 1)
